html,
body,
:root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #101010;
    /* background: url(/track.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    color: aliceblue;
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    height: 40%;
    width: fill-available;
    color: aliceblue;
    font-size: 12px;
}

header .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header .logo img {
    height: 100px;
}

.grid-header {
    height: 60%;
}


main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 40px;
    margin-top: 40px;
}

.links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.links .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main .ig-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    /* padding: 0 40px; */
    width: 100%;
}

.ig-grid img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

main h1,
h2 {
    margin: 20px 0;
    padding: 0 10px;
    font-size: 16px;
}

.bike-imgs {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    overflow-x: visible;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: none;
    padding: 0 10px;
}

.bike-imgs img {
    min-width: 140px;
    height: 140px;
    object-position: center;
    object-fit: cover;
}

.card-slider {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    overflow-x: visible;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    padding: 0 10px;
    scrollbar-width: 0;
    -ms-overflow-style: none;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    height: 100px;
    background-color: #ffffff10;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    /* box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2); */
}

.card img {
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 20px;
    width: 100%;
    height: 100%;
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    header {
        justify-content: flex-start;
        align-items: flex-start;
        height: max-content;
    }

    .grid-header {
        justify-content: center;
        align-items: center;
    }

    .grid-main {
        justify-content: center;
        align-items: center;
    }

    header .logo {
        flex-direction: row;
    }

    main {
        font-size: 20px;
        padding: 40px;
    }

    .ig-grid {
        max-width: 800px;
    }

    .links a {
        font-size: 16px;
    }

    .bike-imgs {
        gap: 40px;
    }

    .bike-imgs img {
        min-width: 300px;
        height: 300px;
    }

    .card-slider {
        gap: 40px;
    }

    .card {
        min-width: 300px;
        height: 150px;
    }

    .card-details {
        padding: 40px;
    }
}